flows (1).json
[{"id":"fa130196.c901e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6fe72cba.d57784","type":"ibmiot in","z":"fa130196.c901e","authentication":"apiKey","apiKey":"edc1e6fd.b6e778","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1A","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":200,"wires":[["69df8a6b.e8f364"]]},{"id":"f441c96c.705268","type":"debug","z":"fa130196.c901e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"69df8a6b.e8f364","type":"function","z":"fa130196.c901e","name":"","func":"msg.payload = msg.payload.Face_detect\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[["f441c96c.705268","2a6f9043.a0f06"]]},{"id":"b347d14.43d733","type":"debug","z":"fa130196.c901e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":280,"wires":[]},{"id":"71eb8b55.17ffd4","type":"rbe","z":"fa130196.c901e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":390,"y":280,"wires":[["d909eb39.efd3c8"]]},{"id":"2a6f9043.a0f06","type":"switch","z":"fa130196.c901e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":280,"wires":[["71eb8b55.17ffd4"]]},{"id":"d909eb39.efd3c8","type":"http request","z":"fa130196.c901e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=gHqNk6xvia3o5SMQK2V0j9tU4Cle7RJmzwuydFTBcOrAbsWXn17M4ayCFLYh0Ogd8Gp1HuEPS3jVBTs2&route=q&message=someone%20is%20at%20your%20gate&language=english&flash=0&numbers=","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":280,"wires":[["b347d14.43d733"]]},{"id":"36264493.4a804c","type":"http request","z":"fa130196.c901e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://7b88ba8a-383b-49c5-ba00-9a03115de98a-bluemix.cloudant.com/access/_all_docs?include_docs=true&decending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":420,"y":380,"wires":[["cb2b3d23.225ab"]]},{"id":"4caaef0a.ea99a","type":"debug","z":"fa130196.c901e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"cb2b3d23.225ab","type":"function","z":"fa130196.c901e","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":380,"wires":[["8ce1f983.58dd58","4caaef0a.ea99a"]]},{"id":"aacb9b56.079e68","type":"ui_button","z":"fa130196.c901e","name":"","group":"f9bdf83c.d546b8","order":1,"width":0,"height":0,"passthru":false,"label":"click here","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":110,"y":340,"wires":[["36264493.4a804c"]]},{"id":"8ce1f983.58dd58","type":"ui_template","z":"fa130196.c901e","group":"f9bdf83c.d546b8","name":"","order":2,"width":"6","height":"6","format":"<img src=\"{{msg.payload}}\" alt=\"Image Not Found\" style=\"width:400px;height:300px\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":440,"wires":[[]]},{"id":"dd704728.1fd0d8","type":"inject","z":"fa130196.c901e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["36264493.4a804c"]]},{"id":"edc1e6fd.b6e778","type":"ibmiot","name":"API key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f9bdf83c.d546b8","type":"ui_group","name":"Image","tab":"10223629.3fcb9a","order":1,"disp":true,"width":"6","collapse":false},{"id":"10223629.3fcb9a","type":"ui_tab","name":"Intelligent access controll","icon":"dashboard","order":3,"disabled":false,"hidden":false}]